<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="bookService" interface="org.apache.karaf.sample.acna15.persistence.api.BookService"/>

    <service id="bookServlet" interface="javax.servlet.Servlet">
        <service-properties>
            <entry key="alias" value="/"/>
        </service-properties>
        <bean class="org.apache.karaf.sample.acna15.web.ViewBookServlet">
            <property name="bookService" ref="bookService"/>
        </bean>
    </service>

</blueprint>